<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'ImageClassificationApp/css/side_and_nav_bars.css' %}">
    <link rel="stylesheet" href="{% static 'ImageClassificationApp/css/main_content.css' %}">

    <title>Main Page</title>
</head>
<body>

<div class="wrapper">
  <div class="top_navbar">
    <div class="hamburger">
       <div class="hamburger__inner">
         <div class="one"></div>
         <div class="two"></div>
         <div class="three"></div>
       </div>
    </div>
    <div class="menu">
      <div class="logo">
        Neurify
      </div>

        <div>
            <p>Welcome {{request.user.username}}</p>
        </div>
        <div class="right_menu">
        <ul>
          <li><i class="fas fa-user"></i>
            <div class="profile_dd" id="id_profile_dd">
               <div class="dd_item">Profile</div>
               <div class="dd_item">Change Password</div>
               <div class="dd_item"><a href="{% url 'ImageClassificationApp:logout' %}">Logout</a></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main_container">
      <div class="sidebar">
          <div class="sidebar__inner">
            <ul>
              <li>
                <a href="{% url 'ImageClassificationApp:home_page' %}" class="new_task">
                  <span class="icon"><i class="fas fa-dice-d6"></i></span>
                  <span class="title">New Task</span>
                </a>
              </li>
              <li>
                <a href="{% url 'ImageClassificationApp:classification_training' %}" class="dashboard">
                  <span class="icon"><i class="fab fa-delicious"></i></span>
                  <span class="title">Training</span>
                </a>
              </li>
              <li>
                <a href="{% url 'ImageClassificationApp:history_page' %}" class="history">
                  <span class="icon"><i class="fab fa-delicious"></i></span>
                  <span class="title">History</span>
                </a>
              </li>
            </ul>
          </div>
      </div>

      {% block main_content %}
      <div class="container">
          <a href="{% url 'ImageClassificationApp:image_classification' %}">
              <div class="card img-classification-card" style="width: 18rem;">
                  <img class="card-img-top" src="/media/site_images/empty_img.svg" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Image Classification</p>
                  </div>
               </div>
           </a>
      </div>
      {% endblock %}
  </div>

</div>


<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

{% block javascript %}
<script src="{% static 'ImageClassificationApp/js/side_and_nav_bars.js' %}"></script>
<script src="{% static 'ImageClassificationApp/js/cards.js' %}"></script>
<script src="{% static 'ImageClassificationApp/js/logic.js' %}"></script>
{% endblock %}

</body>
</html>