<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}

<link rel="stylesheet" href="">

{% block main_content %}
<div class="container">

    <div>
        <h3>Task : {{task.task_name}}</h3>
    </div>
    <div>
        {% if imageclasses_already_in_task %}
        <div>
            <span>Already created classes :</span>
            {% for imgclass in imageclasses_already_in_task %}
                {{imgclass}}
            {% endfor %}
        </div>

        {% endif %}
    </div>


    <div class="task-form">
        <form action="" method="post">
            {% csrf_token %}
            {{formset.as_p}}
            {{form.as_p}}

            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <input class="green_button" type="submit" value="Save">
        </form>
    </div>



  </div>
{% endblock %}

</html>