<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load static %}

{% block main_content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        <br>
        <br>
    {% endif %}


    <div class="task-form">
        <form action="" method="post">
            {% csrf_token %}
            {{formset.as_p}}
            <input class="green_button" type="submit" value="Save">
        </form>
    </div>

  </div>
{% endblock %}



</html>