<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load static %}


{% block main_content %}
<div class="container">

    <div>
        <h3>Task : {{task.task_name}}</h3>
    </div>
    <br>
    <br>
    <div>
        <h3>Images class : {{imageclass.image_classname}}</h3>
    </div>


    <div class="task-form">
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" name="images" multiple>
            <input type="submit" class="green_button" name="add_another_class" value="Add another class">
            <input type="submit" class="green_button" name="done" value="Done adding classes">

        </form>
    </div>

  </div>
{% endblock %}



{% block javascript %}
<script src="{% static 'ImageClassificationApp/js/task_details_page.js' %}"></script>
{% endblock %}



</html>