<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load crispy_forms_tags %}
{% load static %}

<link rel="stylesheet" href="">

{% block main_content %}
<div class="container">

    <div>
        <h2 style="font-weight: bold;">Task</h2>
    </div>
    <div>
        <h4>{{last_task.task_name}}</h4>
    </div>
    <br>
    <div>
        {% if imageclasses_already_in_task %}
        <div>
            <div><h4>Already created classes :</h4></div>
            <ul style="list-style-type:circle">
                {% for imgclass in imageclasses_already_in_task %}
                    <li>
                        {{imgclass}}
                    </li>
                {% endfor %}
            </ul>

        </div>

        {% endif %}
    </div>


    <div class="task-form">
        <form action="" method="post">

            {% csrf_token %}
            <h4>{% crispy formset formset_helper %}</h4>

        </form>
    </div>



  </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'ImageClassificationApp/js/image_classes_form.js' %}"></script>

{% endblock %}

</html>