<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}


{% block main_content %}
<div class="container">

    <div>
        Task : {{task.task_name}}
    </div>
    <div>
        Images class : {{imageclass.image_classname}}
    </div>


    <div class="task-form">
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="file" name="images" multiple>
            <input type="submit" value="Save">
        </form>
    </div>

  </div>
{% endblock %}

</html>