<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load static %}
{% load cache %}



{% block main_content %}
<div class="container">
<link rel="stylesheet" href="{% static 'ImageClassificationApp/css/training_page.css' %}">


{% if last_task %}
    <h1 style="text-align:center;">Pre-training summary</h1>
    <br>
    <div>
        <h2>Task : {{last_task.task_name}}</h2>
    </div>
    <br>
    <div>
        <h2>Your data:</h2>
    </div>

    {% cache 3600 images_gallery request.user.username %}
    <div>
        {% for imageclass in image_classes %}
        <div class="card">
            <div class="card-body">

                <button class="collapsible">{{imageclass.image_classname}}</button>
                <div class="content">
                  {% for imagedata in imageclass.get_all_images_of_class %}
                    <img src="{{imagedata.image.url}}" alt="" width="100">
                  {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endcache %}
    <br>
    <div>
        <h2>Chosen training option: {{classification_model}}</h2>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="green_button" value="Start training">
        </form>
    </div>

{% endif %}



<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>

</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'ImageClassificationApp/js/pretraining_summary_page.js' %}"></script>

<script>
$(document).ready(function(){

    $('#collapseExample').on('hidden.bs.collapse', function () {
    // do something…
    })

})
</script>
{% endblock %}

</html>