<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load static %}

{% block main_content %}
<div class="container">

<h1>Done creating the task!</h1>
<form action="{% url 'ImageClassificationApp:adding_new_task' %}">
    {% csrf_token %}
    <input type="submit" class="green_button" value="Create a new task" />
</form>
<form action="{% url 'ImageClassificationApp:classification_training' %}">
    {% csrf_token %}
    <input type="submit" class="green_button" value="Go to training page" />
</form>

</div>
{% endblock %}



{% block javascript %}
<script src="{% static 'ImageClassificationApp/js/image_upload_form.js' %}"></script>
{% endblock %}


</html>