<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load static %}



{% block main_content %}
<div class="container">

<div>
    <canvas id="val-accuracy" width="400" height="150"></canvas>
</div>
<br>
<br>
<div>
    <canvas id="val-loss" width="400" height="150"></canvas>
</div>

<br>
<br>
<a href="{% url 'ImageClassificationApp:download_trained_model' %}" class="btn btn-primary btn-lg btn-block">Download trained model</a>


</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="{% static 'ImageClassificationApp/js/training_progress.js' %}"></script>


{% endblock %}

</html>