<!DOCTYPE html>
<html lang="en">

{% extends "ImageClassificationApp/home.html" %}
{% load static %}



{% block main_content %}
<div class="container">

{% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
{% endif %}

<h4 id='neatdata'></h4>

{# <canvas id="myChart" width="500" height="300"></canvas> #}



</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script src="{% static 'ImageClassificationApp/js/training_progress.js' %}"></script>


{% endblock %}

</html>