db.sqlite3
__pycache__/
ImageClassificationApp/migrations/
media/data/*
training_artifacts/
*.svg
gcp_credentials/
neurfiy-9544c225013a.json
*.css
*.js
*.png
*.jpg
*.jpeg
*.md
*.txt
*.woff
*.zip
LICENSE